body{
  font-family: "Montserrat", sans-serif;
}

header{
  width: 100%;
  text-align: center;
  border-bottom: 6px solid red;
  background-color: lightgrey;
  border-radius: 5px;
}

h1{
  padding-top: 1%;
}

section{
  margin-top: 5%;
  margin-left: 10%;
  float: left;
}

h2{
  text-align: center;
  color: purple;
}

div{
  text-align: center;
}

table {
  margin-left: 20%;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 5%;
}
